
# Data extension
*.pt
*.h5
*.txt
*.pickle
*.edges

# Figure format
*.pdf
*.png
*.jpg

# Sublime-text extension
*.sublime-project
*.sublime-workspace

#Python entension
*.pyc
*cpython-36.pyc
*checkpoint.ipynb

# Other formats
*.html
